
<% if @current_user%>

<h1>Places</h1>
<style>
  .place-card {
    background: linear-gradient(to bottom right, #55aaff, #00ffcc);
    color: #fff;
    cursor: pointer;
  }

  .place-card:hover {
    opacity: 0.9;
  }
</style>
<div class="container">
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-lg-4 col-md-6">
        <a href="/places/<%= place["id"] %>" class="card place-card">
          <div class="card-body">
            <h5 class="card-title"><%= place["name"] %></h5>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>




<p>
  <a href="/places/new">New place</a>
</p>
<% else %>
<p>You must be logged in!</p>
<%end%>